# Ignore environment files
.env

# Ignore Python virtual environment
env/

# Python-related
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Django-specific
db.sqlite3
/media/
staticfiles/

# Logs
logs/
*.log